*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background: #F1F1F1;
  color: #1d2129;
}

.Navbar{
  color: #839292;
  height: 56px;
  padding-left: 20px;
  background: #212529;
  font-size: 16px;
  align-items: center;
  display: flex;
  gap: 2rem;
  justify-content: left;
  
}

.Navbar ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  
}

.Navbar a {
  color: #839292;
  text-decoration: none;
}

.site-title{
  font-size: 20px;
  text-decoration: none;
}

