.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E3E3E3;
    padding-left: 100px;
    height: 160px;

}

h1 {
    position: absolute;
    font-size: 48px;
    margin-top: 60px;
}

.breadcrumb {
    position: absolute;
    margin-bottom: 100px;
    left: 65px;
}

.breadcrumb-list {
    box-sizing: inherit;
    display: inline-block;
    color: #000000;

}

.current-page::before {
    color: #818a91;
    content: "/";

}

.home {
    color: inherit;
    text-decoration: none;
}

.home:hover {
    color: #DD5900;
    text-decoration: underline;
}
