.grid {
    display: grid;
    row-gap: 200px;
    column-gap: 0px;
  }
  
  .grid-1 {
    grid-row-end: auto;
  }
  
  .grid-2 {
    grid-row-end: auto;
  }
  
  .grid-3 {
    grid-row-end: auto;
  }
  