.Contain_Changepassteacher {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100vw;
    height: 100vh;
    background-image: url('../../components/Assets/ForgotBGG.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.Contain_Changepassteacher .white-box {
    width: 70vw; 
    height: 65vh; 
    background-color: #ffffff;
    border-radius: 2.4vw; 
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.Contain_Changepassteacher h1 {
    font-size: 2.9vw;
    text-align: center;
    color: #000000;
    position: absolute;
    top:  20vh;
    left: 36vw;
    width: 40vw;
    height: 21vh;
}

.Contain_Changepassteacher h2{
    font-size: 1.3020vw;
    text-align: center;
    color: #000000;
    position: absolute;
    top: 36vh;
    left: 29vw;
}

.Contain_Changepassteacher input {
    width: 40.9vw;
    height: 5.6vh;
    font-size: 1.3020vw;
    position: absolute;
    top: 42vh;
    left: 29vw;
    border: 2px solid #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(10 , 10, 10, 0.5);
}

.Contain_Changepassteacher h3{
    font-size: 1.3020vw;
    text-align: center;
    color: #000000;
    position: absolute;
    top: 49vh;
    left: 29vw;
}

.input-boxpassconfirm input {
    width: 40.9vw;
    height: 5.6vh;
    font-size: 1.3020vw;
    position: absolute;
    top: 55vh;
    left: 29vw;
    border: 2px solid #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(10 , 10, 10, 0.5);
}

.Contain_Changepassteacher h4{
    font-size: 1.5625vw;
    text-align: center;
    color: #000000;
    position: absolute;
    top: 69vh;
    left: 29vw;
}

.Contain_Changepassteacher .Save{
    font-size: 1.5625vw;
    text-align: center;
    color: #000000;
    position: absolute;
    top: 69vh;
    left: 29vw;
}

.Save Button {
    font-size: 1.3020vw;
    text-align: center;
    color: #fff;
    border: 2px solid #dd5900;
    box-shadow: 0 0 10px rgba(10 , 10, 10, 0.5);
    border-radius: 8px;
    width: 18.85vw;
    height: 6.29vh;
    background: #dd5900;
}

.Contain_Changepassteacher .Back{
    font-size: 1.5625vw;
    text-align: center;
    color: #4b4b4b;
    position: absolute;
    top: 69vh;
    left: 51vw;
}

.Back Button {
    font-size: 1.3020vw;
    text-align: center;
    color: #4b4b4b;
    border: 2px solid #666666;
    box-shadow: 0 0 10px rgba(10 , 10, 10, 0.5);
    border-radius: 8px;
    width: 18.85vw;
    height: 6.29vh;
    background: #fffbf8;
}

.popup {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
    animation: slideDown 0.5s ease-in-out;
}

@keyframes slideDown {
    from {
        top: -50px;
    }
    to {
        top: 10px;
    }
}

