.Contain1 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100vw;
    height: 100vh;
    background-image: url('../../components/Assets/ForgotBGG.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.Contain1 .white-box {
    width: 70vw; 
    height: 65vh; 
    background-color: #ffffff;
    border-radius: 2.4vw; 
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.Contain1 h1 {
    font-size: 2.5vw;
    text-align: center;
    color: #000000;
    position: absolute;
    top:  22vh;
    left: 30vw;
    width: 40vw;
    height: 21vh;
}

.Contain1 .Create{
    font-size: 1.3020vw;
    text-align: center;
    color: #000000;
    position: absolute;
    top: 36vh;
    left: 29vw;
}

.input-boxpassnew input {
    width: 40.9vw;
    height: 5.6vh;
    font-size: 1.3020vw;
    position: absolute;
    top: 42vh;
    left: 29vw;
    border: 2px solid #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(10 , 10, 10, 0.5);
}

.Contain1 .Confirm{
    font-size: 1.3020vw;
    text-align: center;
    color: #000000;
    position: absolute;
    top: 49vh;
    left: 29vw;
}

.input-boxpassconfirm input {
    width: 40.9vw;
    height: 5.6vh;
    font-size: 1.3020vw;
    position: absolute;
    top: 55vh;
    left: 29vw;
    border: 2px solid #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(10 , 10, 10, 0.5);
}

.Contain1 .Save{
    font-size: 1.5625vw;
    text-align: center;
    color: #000000;
    position: absolute;
    top: 69vh;
    left: 29vw;
}

.Save button {
    font-size: 1.3020vw;
    text-align: center;
    color: #fff;
    border: 2px solid #dd5900;
    box-shadow: 0 0 10px rgba(10 , 10, 10, 0.5);
    border-radius: 8px;
    width: 18.85vw;
    height: 6.29vh;
    background: #dd5900;
}

.Contain1 .Back{
    font-size: 1.5625vw;
    text-align: center;
    color: #000000;
    position: absolute;
    top: 69vh;
    left: 51vw;
}

.Back button {
    font-size: 1.3020vw;
    text-align: center;
    color: #000000;
    border: 2px solid #000000;
    box-shadow: 0 0 10px rgba(10 , 10, 10, 0.5);
    border-radius: 8px;
    width: 18.85vw;
    height: 6.29vh;
    background: #fffbf8;
}