.Contain {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100vw;
    height: 100vh;
    background-image: url('../../components/Assets/ForgotBGG.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.Contain .white-box {
    width: 70vw; 
    height: 65vh; 
    background-color: #ffffff;
    border-radius: 2.4vw; 
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.Contain h1 {
    font-size: 2.5vw;
    text-align: center;
    color: #000000;
    position: absolute;
    top:  22vh;
    left: 30vw;
    width: 40vw;
    height: 21vh;
}

.Contain .Please1 {
    font-size: 1.5625vw;
    text-align: center;
    color: #ABABAB;
    position: absolute;
    top: 35vh;
    left: 25vw;
}

.Contain .Email {
    font-size: 1.3vw;
    text-align: center;
    color: #222222;
    position: absolute;
    top: 44vh;
    left: 25vw;
}

.input-boxmail input {
    width: 50.5vw;
    height: 5.6vh;
    font-size: 1.5625vw;
    position: absolute;
    top: 50vh;
    left: 25vw;
    border: 2px solid #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(10 , 10, 10, 0.5);
}

.Contain .Request {
    color: #000000;
    position: absolute;
    top: 63vh;
    left: 35.7291667vw;
}

.Request button {
    font-size: 1.5625vw;
    text-align: center;
    color: #fff;
    border: 2px solid #dd5900;
    box-shadow: 0 0 10px rgba(10 , 10, 10, 0.5);
    border-radius: 8px;
    width: 27.03125vw;
    height: 8.1vh;
    background: #dd5900;
}

.Contain .Back {
    font-size: 1.5625vw;
    text-align: center;
    color: #000000;
    position: absolute;
    top: 73vh;
    left: 44.5vw;
}

.notification {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
    animation: slideDown 0.3s ease-out;
}

@keyframes slideDown {
    from {
        top: -50px;
    }
    to {
        top: 10px;
    }
}
