.wrapper_Login {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url('../../components/Assets/FIBO.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper_Login .Logo {
    position: absolute;
    right: 2vw; 
    top: 0.3vh; 
}

.wrapper_Login h1 {
    font-size: 6.5vh;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 16.667%;
    left: 67.5%;
    width: 15.625%;
    height: 6.4814%;
}

.wrapper_Login h2 {
    font-size: 10.5vh !important;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 8%;
    left: 12%;
    width: 15.625%;
    height: 6.4814%;
}

.wrapper_Login h3 {
    font-size: 10.5vh ;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 17%;
    left: 11%;
    width: 15.625%;
    height: 6.4814%;
}

.wrapper_Login h4 {
    font-size: 2.55vh;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 39%;
    left: 13%;
}

.wrapper_Login h5 {
    font-size: 2vh;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 45%;
    left: 13%;
}

.wrapper_Login h6{
    font-size: 2vh;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 47%;
    left: 17%;
}

.wrapper_Login .SignUp {
    text-align: center;
    color: #fff;
    position: absolute;
    background: transparent 50%;
    top: 57vh;
    left: 20vw;
}


.SignUp Button {
    border-radius: 0.41667vh;
    font-size: 1.5vh;
    position: absolute;
    text-align: center;
    color: #000000;
    border-radius: 1vh;
    width: 10vh;
    height: 4vh;
    background: rgba(255, 255, 255, 0.8);
}

.wrapper_Login h7 {
    font-size: 2.5vh;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 34vh;
    left:58.5vw;
}


.input-boxname input {
    width: 28vw; 
    height: 4.6vh; 
    font-size: 0.3%;
    position: absolute;
    top: 37vh;
    left:58.5vw;
    border: 0.1041vw solid #fff;
    border-radius: 0.417vw;
    box-shadow: 0 0 10px rgba(10 , 10, 10, 0.5);
}

.input-boxname .Icon {
    position: absolute;
    font-size: 1.9vh;
    left: 85.7%;
    top: 39.6% ;
    transform: translateY(-50%);
} 


.wrapper_Login h8 {
    font-size: 2.5vh;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 44vh;
    left:58.5vw;
}

.input-boxpass input {
    width: 28vw; 
    height: 4.6%;
    font-size: 2vw;
    position: absolute;
    top: 47%;
    left:58.5vw;
    border: 0.1041vw solid #fff;
    border-radius: 0.417vw;
    box-shadow: 0 0 10px rgba(10 , 10, 10, 0.5);
}

.input-boxpass .Icon {
    position: absolute;
    font-size: 2vh;
    left: 85.7vw;
    top: 49.5vh ;
    transform: translateY(-50%);
} 

.wrapper_Login h9 {
    text-align: center;
    color: #fff;
    position: absolute;
    font-size: 2.2vh;
    top: 54.3vh;
    left: 60.3%;
}

.remember .custom-checkbox  {
    position: absolute;
    top: 54.5vh;
    left: 57vw;
    width: 8vh; 
    border-radius: 0.417vw;
    cursor: pointer; 
}

.wrapper_Login .SignIn {
    color: #dd5900;
    position: absolute;
    top: 60.5%;
    left: 58.33%;
}

.SignIn Button {
    border-radius: 0.41667vh;
    font-size: 1.5vh;
    position: absolute;
    text-align: center;
    color: #000000;
    border: 2px solid #dd5900;
    box-shadow: 0 0 10px rgba(10 , 10, 10, 0.5);
    border-radius: 1vh;
    width: 15vh;
    height: 5vh;
    background: rgba(255, 255, 255, 0.8);
    background: #dd5900;
    
}

.wrapper_Login .forgot {
    font-size: 1.8vh;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 67%;
    left: 58.6%;
}

.wrapper_Login h10 {
    font-size: 2vh;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 80%;
    left: 65.6%;
}

.wrapper_Login .accept {
    font-size: 2vh;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 83%;
    left: 66%;
}

.error-message {
    color: red;
    margin-top: 10px;
    text-align: center;
}


@keyframes slideDown {
    from {
      top: -50px;
    }
    to {
      top: 20px;
    }
  }
    .popup {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
}


