/* .custom-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #DD5900;
    cursor: pointer;
    border: 0;
    border-radius: 8px;
    height: 56px;
    color: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.custom-button:hover {
    background-color: #c95d16;
}
   */
.button {
    height: 55px;
    width: 200px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #DD5900;
    color: #ffffff;
    cursor: pointer;
}

.button:hover {
    background-color: #cf5403;
    color: #ffffff;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #c0c0c0;
    color: #DD5900;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.button:active {
    background-color: #ffffff;
    border: 1px;
    border-color: #DD5900;
    color: #DD5900;
}