.button {
    height: 55px;
    width: 200px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #DD5900;
    color: #ffffff;
    cursor: pointer;

  }
  
  .button:hover {
    background-color: #cf5403;
    color: #ffffff;
  }