.input-new-score {
    border: none;
    width: 100%;
    outline: none;
}

/* remove arrow spinner */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.save, .cancel{
    position: absolute;
    display: block;
    left: 65%;
    font-size: 20px;
    color: #fff;
    background-color: #DD5900;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    margin-top: 20px;
    cursor: pointer;
}

.cancel{
    left: 57%;
    padding: 8px 19px;
    color: #DD5900;
    background-color: #fff;
    border: #DD5900 solid 2px;
}
