* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Kanit", sans-serif;
    
}

.header{
    position: relative;
    height: 160px;
    width: 100%;
    background: #E3E3E3;
    margin-top: 105px;
}

.breadcrumb{
    position: relative;
    list-style-type: none;
    text-align: left;
    padding-top: 25px;
    padding-left: 105px;
    
}

.breadcrumb-list{
    box-sizing: inherit;
    display:inline-block;
    color:#000000;
    
}

.current-page::before {
    padding-right: .5rem;
    padding-left: .5rem;
    color: #818a91;
    content: "/";
    
} 

.home{
    color: inherit; /* inherit color from li*/ 
    text-decoration: none;
}

.home:hover{
    color: #DD5900;
    text-decoration: underline;
}

.subject{
    position: absolute;
    font-size: 60px;
    text-align: left;
    padding: 1% 0 0 6%;
}

.student-table, .tr, .td{
    border: 2px solid #DD5900;
    width: 65%;
    border-collapse: collapse;
    padding: 0.75rem;
    margin-top: 50px;
    margin-left: 105px;
    table-layout:fixed;
}

.edit-score{
    position: absolute;
    display: block;
    left: 65%;
    font-size: 20px;
    color: #fff;
    background-color: #DD5900;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    margin-top: 20px;
    cursor: pointer;
}

.pie-chart{
    position: absolute;
    display: block;
    left: 70%;
    size: 10%;
}
