.course-name {
    position: absolute;
    font-size: 25px;
    padding: 60px 0 0 0;
    font-weight: normal;
}

.student-table,
th,
.td {
    border: 2px solid #DD5900;
    width: 65%;
    border-collapse: collapse;
    padding: 0.75rem;
    margin-top: 50px;
    margin-left: 105px;
    table-layout: fixed;
}

th {
    font-size: 20px;
}

.edit-score,
.show-dashboard {
    position: absolute;
    display: block;
    left: 65%;
    font-size: 20px;
    color: #fff;
    background-color: #DD5900;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    margin-top: 20px;
    cursor: pointer;
}

.show-dashboard {
    margin-left: -170px;
    padding: 8px 20px;
    color: #DD5900;
    background-color: #fff;
    border: #DD5900 solid 2px;
    display: none;
}

.pie-chart {
    position: absolute;
    height: 35%;
    width: 25%;
    left: 75%;
    margin-top: -20px;
}

.cross{
    position: absolute;
    right: 0px;
    margin-top: 10px;
    margin-right: 10px;
    z-index: 1;
}

@media (min-width: 1281px) {
    .pie-chart {
        display: block !important;
    }
    
    .cross{
        display: none;
    }
}

@media (max-width: 1280px) {
    .show-dashboard {
        display: block;
    }

    .pie-chart {
        display: none;
        background-color: #f8f8f8;
        height: 30%;
        width: 25%;
        left: 40%;
        border: #000 solid 2px;
        border-radius: 10px;
        padding: 0 0 0 10px;
    }

    .student-table {
        margin-left: auto;
        margin-right: auto;
    }

    .edit-score,
    .show-dashboard {
        left: 73%;
    }
}

@media (max-width: 1024px) {
    .pie-chart {
        position: absolute;
        height: 25%;
        width: 30%;
        left: 40%;
    }
}

@media (max-width: 768px) {

    .edit-score,
    .show-dashboard {
        left: 70%;
    }

    .pie-chart {
        position: absolute;
        height: 27%;
        width: 40%;
        left: 30%;
    }

    .td {
        white-space: nowrap;
        overflow-x: scroll;
    }
}

@media (max-width: 480px) {

    .edit-score,
    .show-dashboard {
        left: 62%;
    }

    .pie-chart {
        position: absolute;
        height: 25%;
        width: 60%;
        left: 20%;
    }
}

@media (max-width: 425px) {
    .pie-chart {
        position: absolute;
        height: 25%;
        width: 70%;
        left: 15%;
    }

    .student-table {
        margin-top: 100px;
    }

    th {
        font-size: 12px;
    }
}