/* select {
    position: relative;
    display: flex;
    height: 56px;
    border-radius: 8px;
    width: 577px;
    border: 0;
    font-size: 20px;
    padding-left: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

option {
    height: 168px;
    border-radius: 8px;
    width: 577px;
    font-size: 20px;
}

label {
    position: relative;
    display: flex;
    margin-left: 0;
    font-size: 20px;
} */

/* General styles for select dropdown */
select {
    position: relative;
    display: block; /* Changed to block to better control dimensions */
    height: 7vh; /* 56 / 749 * 100 */
    border-radius: 8px;
    width: 41.45vw; /* 577 / 1392 * 100 */
    border: 0;
    font-size: 18px; /* 20 / 1392 * 100 */
    padding-left: 0.86vw; /* 12 / 1392 * 100 */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

option {
    height: auto; /* Use auto height for better responsiveness */
    border-radius: 8px;
    width: 100%; /* Full width to fit the select element */
    font-size: 18px; /* 20 / 1392 * 100 */
}

/* General styles for labels */
label {
    position: relative;
    display: flex;
    margin-left: 0;
    font-size: 18px; /* 20 / 1392 * 100 */
}
/* 
/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    select {
        height: 6vh; /* Larger height for better touch interaction */
        width: 75vw; /* Full width for smaller screens */
        font-size: 18px; /* Larger font size for readability */
        padding-left: 3vw; /* Increased padding for better spacing */
    }

    option {
        font-size: 4vw; /* Larger font size for readability */
    }

    label {
        font-size: 4vw; /* Larger font size for readability */
    }
}
