.NameSurname {
    display: grid;
    grid-template-columns: 300px auto;
    justify-content: space-evenly;
}

label {
    position: relative;
    font-size: 20px;
    margin-bottom: 0px;
}

input {
    height: 56px;
    border-radius: 8px;
    border: 0;
    padding: 0;
    margin-bottom: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.StudentID, .Email, .Password, .ConfirmPass {
    width: 577px;
}

.Name, .Surname {
    width: 275px;
}

.Name {
    margin-right: 100px;
}

input::placeholder {
    font-size: 20px;
}

input[type="text"], input[type="email"], input[type="password"] {
    font-size: 20px;
    padding-left: 12px;
}

input::focus {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

input::errors {
    border: 1px;
    border-color: red;
}

.errorText {
    position: relative;
    display: flex;
    color: red;
    align-items: left;
    margin-bottom: 10px;
}