.input-field {
    width: 577px;
    height: 56px;
}

.FullName {
    width: 200px;
    height: 56px;
}

.input-field::placeholder {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}