/* Add the new CSS code and optimize */

.other-page {
    padding: 20px;
    font-family: 'Poppins', sans-serif; /* Apply Poppins font to other-page */
}

.header {
    display: flex;
    align-items: center;
    background-color: #E3E3E3;
    padding: 1%;
    font-family: 'Poppins', sans-serif; /* Apply Poppins font to header */
}

h1 {
    margin-right: 20px;
    font-size: 48px;
    font-family: 'Poppins', sans-serif; /* Apply Poppins font to h1 */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px; /* Adjust the gap between grid items */
}

.coursecard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: .5rem;
    color: rgb(0, 0, 0);
    background: #E3E3E3;
    font-size: 16px;
    box-shadow: 3px 3px 10px #a7a7a7;
    cursor: pointer;
}

.coursecard:hover {
    background: #DD5900;
    color: rgb(255, 255, 255);
}

.left-content {
    margin-right: 20px;
}

.right-content {
    margin-left: 20px;
}

.course-info {
    display: flex;
    flex-direction: column;
}

.course-info p {
    margin: 0; /* Remove default margin */
}

.gradetext {
    font-size: 24px; /* Adjust font size for grade */
    color: #555; /* Adjust color according to your design */
}

.dropdown-menu {
    position: absolute;
    top: 50px; /* Adjust the top position as needed */
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #E3E3E3;
    font-size: 16px;
    box-shadow: 3px 3px 10px #a7a7a7;
    z-index: 999; /* Ensure it's above other elements */
}

.dropdown-menu option {
    padding: 10px;
    background-color: #E3E3E3;
    color: #000000;
    font-family: 'Poppins';
    cursor: pointer;
}

.dropdown-menu option:hover {
    background-color: #DD5900;
    color: #FFFFFF;
}







/* .button-gray {
    height: 55px;
    width: 200px;
    font-size: 16px;
    border: none;
    border-radius: 5px;

} */

/* .button-gray:hover {
    background-color: #dadada;
    color: #000000;
    box-shadow: inset 0 px 10px 0 rgba(0, 0, 0, 0.5);
} */

.button-orange {
    height: 55px;
    width: 200px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #DD5900;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Poppins';
    /* box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);  */
}

.button-orange:hover {
    background-color: #cf5403;
    color: #ffffff;
    /* box-shadow: inset 0 4px 10px 0 rgba(0,0,0,0.5);  */
}