.other-page {
    padding: 20px;
  }
  
  .header {
    display: flex;
    align-items: center; 
    background-color: #E3E3E3;
    padding: 1%;
  }
  
  h1 {
    margin-right: 20px; 
  }
  
  .widecard {
    margin: 30px 0px 30px 0px;
    transition: .3s;
    border-radius: 10px;
    padding: .5rem;
    color: rgb(0, 0, 0);
    background: #E3E3E3;
    font-size: 20px;
    box-shadow: 3px 3px 10px #a7a7a7;
    text-align: left;

  }

  .widecard:hover {
    background: #DD5900;
    color: rgb(255, 255, 255);
  }

  .button {
    height: 55px;
    width: 200px; 
    font-size: 18px;
    border: none;
    border-radius: 10px;
  }
  
  .button:hover{
    background-color: #dadada; 
    color: #000000;
  }

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: 60%;
    margin-bottom: 5px;
}

.input-container input {
    width: 100%;
    height: 50px;
    font-size: 20px;
    margin-top: 5px; 
}

.input-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: 60%;
    margin-bottom: 10px;
}

.input-description input {
    width: 100%;
    height: 50px;
    font-size: 18px;
    margin-top: 5px; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 700px;  
    font-size: 18px;
    color: #ffffff;
}

.form-container {
    margin : 0 auto;
    margin-top: 40px ;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(2, 2, 2, 0.1);
    width: 60%;
    height: 100%;
    background-color: #DD5900;

}

.mb-3 {
    padding: 10px;
}





