

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 500,
  'GRAD' 0,
  'opsz' 24
}

.container {
    max-width: 960px;
  }
  
  .icon-link > .bi {
    width: .75em;
    height: .75em;
  }
  
  /*
   * Custom translucent site header
   */
  
  .site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #8e8e8e;
    transition: color .15s ease-in-out;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  /*
   * Dummy devices (replace them with your own or something else entirely!)
   */
  
  .product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    transform: rotate(30deg);
  }
  
  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }
  
  .product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
  }
  
  
  /*
   * Extra utilities
   */
  
  .flex-equal > * {
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      flex: 1;
    }
  }

.btn-outline-changecolor {
    color: #DD5900;
    border-color: #DD5900;

}

.btn-outline-changecolor:hover {
    color: #DD5900;
    border-color: #DD5900;
}

.fa-circle-user{
  font-size: 35px;
}
.fa-caret-down{
  font-size: 20px;
}
.user-pic {
  padding-right: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.dropdown-pic {
  padding-right: 20px;
  padding-top: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.btn--block{
  width: 100%;
  display: inline-block;
}

.container-btn div{
  margin: 40px;
  

}