.dropdown-container {
    display: flex;
    align-items: center;
    margin: 20px 0;
    justify-content: center;
}

.dropdown-label {
    font-size: 18px;
    margin-right: 10px;
    font-weight: bold;
}

.dropdown-menu {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    
}

.dropdown-menu option {
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.dropdown-menu option:hover {
    background-color: #DD5900;
    color: #fff;
}

.dropdown-menu:hover {
    background-color: #f1f1f1;
}
